Log notice stdout

# default: ~/.tor
DataDirectory /var/lib/tor

# Политика подключений (*разрешено все IP)
SocksPolicy accept * 
# Прослушиваемый порт и IP адрес (все) 
SocksPort 0.0.0.0:{LISTING_PORT}

## Настройка моста
ClientTransportPlugin obfs4 exec /usr/bin/obfs4proxy
Bridge {OBFS4_ADR}
UseBridges 1

#Для исключения узлов Tor из стран РФ, Беларусь, Украина и Казахстан:
ExcludeNodes {ru}, {by}, {ua}, {kz}
